<p id="notice"><%= notice %></p>

<p>
  <strong>News:</strong>
  <%= @news_version.news.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news_version.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news_version.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @news_version.published_at %>
</p>

<p>
  <strong>Post type:</strong>
  <%= @news_version.news_type.id_name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @news_version.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @news_version.updated_at %>
</p>

<%= link_to 'Edit', edit_admin_news_version_path(@news_version) %> |
<%= link_to 'Back', admin_news_versions_path %>
